# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Environment variables
.env
.env.*

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Python tools
.pytest_cache/
.coverage

# Static collected files
staticfiles/